<div id="videos-container" class="contents-container">
        {{#each videos as |video|}}
          <div class="video-card">
            <a href="videos/{{video._id}}">
              <div class="video-title">
                {{video.title}}
              </div>
            </a>
            <iframe class="video-player" src="{{video.url}}"></iframe>
          </div>
        {{/each}}
    </div>


    <form action="/videos/create" method="get">
      <input class="add-video-button" id="add-button" type="submit" value="Add new video"></input>
    </form>